Source: libanyevent-readline-gnu-perl
Section: perl
Priority: optional
Build-Depends: debhelper (>= 7)
Build-Depends-Indep: libanyevent-perl (>= 6), libcommon-sense-perl (>= 3),
 libterm-readline-gnu-perl (>= 1.2), perl
Maintainer: Jerry Lundström <lundstrom.jerry@gmail.com>
Standards-Version: 3.9.1
Homepage: http://search.cpan.org/dist/AnyEvent-ReadLine-Gnu/

Package: libanyevent-readline-gnu-perl
Architecture: all
Depends: ${misc:Depends}, ${perl:Depends}, libanyevent-perl (>= 6),
 libcommon-sense-perl (>= 3), libterm-readline-gnu-perl (>= 1.2)
Description: unknown
 The Term::ReadLine module family is bizarre (and you are encouraged not to
 look at its sources unless you want to go blind). It does support event-based
 operations, somehow, but it's hard to figure out.
 .
 It also has some utility functions for printing messages asynchronously,
 something that, again, isn't obvious how to do.
 .
 AnyEvent::ReadLine::Gnu has figured it all out for you, once and for all.
 .
 This description was automagically extracted from the module by dh-make-perl.
